<div style="padding-left: 35px; padding-right: 85px">
    <h3>
        Registro de Usuario <small></small>
    </h3>

    <button class="btn btn-danger" [routerLink]="['/']">
    Volver
  </button>
    <span>&nbsp;</span>
    <button class="btn btn-success" (click)="addNew(forma)">
    Limpiar campos
  </button>
    <hr />

    <div class="row animated fadeIn fast">
        <div class="col-md-12">
            <form #forma="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombres</label>
                    <input id="nombre" [(ngModel)]="usuario.nombres" name="nombre" class="form-control" required minlength="4" style="width : 300px" placeholder="Ingrese sus nombres" />
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input id="apellido" [(ngModel)]="usuario.apellidos" name="apellido" class="form-control" required minlength="4" style="width : 300px" placeholder="Ingrese su apellido" />
                </div>
                <div class="form-group">
                    <label for="clave">Clave</label>
                    <input id="clave" [(ngModel)]="usuario.clave" name="clave" class="form-control" required minlength="4" style="width : 300px" placeholder="Ingrese una clave" />
                </div>
                <div class="form-group">
                    <label for="email">email</label>
                    <input id="email" type="email" [(ngModel)]="usuario.email" name="email" class="form-control" required minlength="4" style="width : 300px" placeholder="ejemplo@correo.com" />
                </div>

                <div class="form-group">
                    <label for="usuario">Usuario</label>
                    <input id="usuario" [(ngModel)]="usuario.usuario" name="usuario" class="form-control" required minlength="4" style="width : 300px" placeholder="Ingrese un nombre de usuario" />
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input id="telefono" type="number" [(ngModel)]="usuario.telefono" name="telefono" class="form-control" required minlength="4" style="width : 300px" placeholder="Ingrese su telefono" />
                </div>


                <div class="form-group">
                    <button type="button" class="btn btn-success" (click)="guardarPOST()">
            Guardar
          </button>
                    <span style="
              text-align: right;
              width: 500;
              color: blue;
              font-weight: bold;
            ">&nbsp;&nbsp;&nbsp; </span
          >
        </div>
      </form>
    </div>
  </div>
</div>