<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Descargar su App</h3>
                <p>Descarga la App para Android y Smartphones ios.</p>
                <div class="app-logo">
                    <img src="../../../assets/images/play-store.png">
                    <img src="../../../assets/images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="../../../assets/images/logo-white.png">
                <p>Nuestro propósito es hacer que el placer y los beneficios de comer sean accesibles para muchos de manera sostenible.
                </p>
            </div>
            <div class="footer-col-3">
                <h3>Links útiles</h3>
                <ul>
                    <li>Cupones</li>
                    <li>Blog</li>
                    <li>Política de devoluciones</li>
                    <li>Únase a Afiliados</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Síganos</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2022 - El Buen Sabor®</p>
    </div>
</div>