<div style="padding-left: 35px; padding-right: 85px">
  <h3>
    Articulo Manufacturado <small>{{ articulo.idArticuloManufacturado }}</small>
  </h3>

  <button class="btn btn-danger" [routerLink]="['/admin/manufacturados']">
    Volver
  </button>
  <span>&nbsp;</span>
  <button class="btn btn-success" (click)="addNew(forma)">
    Limpiar campos
  </button>
  <hr />

  <div class="row animated fadeIn fast">
    <div class="col-md-12">
      <form #forma="ngForm">
        <div class="form-group">
          <label for="nombre">Denominacion</label>
          <input
            id="nombre"
            [(ngModel)]="articulo.denominacionArticuloManu"
            name="nombre"
            class="form-control"
            required
            minlength="4"
          />
        </div>
        <div class="form-group">
          <label for="precio">Tiempo estimado de cocina</label>
          <input
            id="precio"
            type="number"
            [(ngModel)]="articulo.tiempoEstimadoCocina"
            name="precio"
            class="form-control"
            required
            minlength="4"
          />
        </div>
        <div class="form-group">
          <label for="rubro">Precio Venta</label>
          <input
            id="rubro"
            [(ngModel)]="
              articulo.preciosArticulosManufacturados[
                articulo.preciosArticulosManufacturados.length - 1
              ].precioVentaArticuloManufacturado
            "
            name="rubro"
            class="form-control"
            required
            minlength="4"
          />
        </div>
        <div class="form-group">
          <label for="rubro">Imagen</label>
          <input
            id="rubro"
            [(ngModel)]="articulo.imagenArticuloManu"
            name="modelo"
            class="form-control"
            required
            minlength="4"
          />
        </div>
        <div class="form-group">
          <label for="fecha">Rubro de artículo insumo</label><br />
          <select
            name="rubro"
            class="form-control"
            [(ngModel)]="articulo.rubroGeneral"
          >
            <option [value]="articulo.rubroGeneral" selected>
              Rubro Actual:
              {{ articulo.rubroGeneral.denominacionRubroGeneral }}
            </option>
            <option [ngValue]="objeto" *ngFor="let objeto of rubros">
              {{ objeto.denominacionRubroGeneral }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-success" (click)="guardarPOST()">
            Guardar
          </button>
          <span
            style="
              text-align: right;
              width: 500;
              color: blue;
              font-weight: bold;
            "
            >&nbsp;&nbsp;&nbsp; {{ resultado }}</span
          >
        </div>
      </form>
    </div>
  </div>
</div>
