<div id="content" style="padding-left: 35px; padding-right: 85px">
  <h3>
    Articulo Manufacturado <small>{{ articulo.idArticuloManufacturado }}</small>
  </h3>

  <button class="btn btn-danger" [routerLink]="['/admin/manufacturados']">
    Volver
  </button>
  <span>&nbsp;</span>
  <button class="btn btn-success" (click)="addNew(forma)">
    Limpiar campos
  </button>
  <hr />
  <table id="tablaGeneral" class="col-md-10">
    <tr>
      <td class="col-md-5">
        <div class="row animated fadeIn fast">
          <div class="col-md-9">
            <form #forma="ngForm">
              <div class="form-group">
                <label for="nombre">Denominacion</label>
                <input
                  id="nombre"
                  [(ngModel)]="articulo.denominacionArticuloManu"
                  name="nombre"
                  class="form-control"
                  required
                  minlength="4"
                />
              </div>
              <div class="form-group">
                <label for="precio">Tiempo estimado de cocina</label>
                <input
                  id="precio"
                  type="number"
                  [(ngModel)]="articulo.tiempoEstimadoCocina"
                  name="precio"
                  class="form-control"
                  required
                  minlength="4"
                />
              </div>
              <div class="form-group">
                <label for="precioVenta">Precio Venta</label>
                <input
                  id="precioVenta"
                  [(ngModel)]="
                    articulo.preciosArticulosManufacturados[
                      articulo.preciosArticulosManufacturados.length - 1
                    ].precioVentaArticuloManufacturado
                  "
                  name="precioVenta"
                  class="form-control"
                  required
                  minlength="4"
                />
              </div>
              <div class="form-group">
                <label for="rubro">Imagen</label>
                <input
                  id="rubro"
                  [(ngModel)]="articulo.imagenArticuloManu"
                  name="modelo"
                  class="form-control"
                  required
                  minlength="4"
                />
              </div>

              <div class="form-group">
                <label for="rubro">Rubro de artículo Manufacturado</label><br />
                <select
                  name="rubro"
                  class="form-control"
                  [(ngModel)]="articulo.rubroGeneral"
                >
                  <option [value]="articulo.rubroGeneral" selected>
                    Rubro Actual:
                    {{ articulo.rubroGeneral.denominacionRubroGeneral }}
                  </option>
                  <option [ngValue]="objeto" *ngFor="let objeto of rubros">
                    {{ objeto.denominacionRubroGeneral }}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <button
                  style="margin-left: 120%"
                  type="button"
                  class="btn btn-success"
                  (click)="guardarPOST()"
                >
                  Guardar
                </button>
                <span
                  style="
                    text-align: right;
                    width: 500;
                    color: blue;
                    font-weight: bold;
                  "
                  >&nbsp;&nbsp;&nbsp; {{ resultado }}</span
                >
              </div>
            </form>
          </div>
        </div>
        <br />
      </td>
      <!-- ---------------------SEGUNDA COLUMNA------------------- -->
      <td class="col-5">
        <div id="segundaColumna">
          <h3>Insumos para la elaboración:</h3>
          <hr />
          <div class="row">
            <div class="col-md-12 text-right">
              <button
                type="button"
                [routerLink]="['/manufacturado', '0']"
                class="btn btn-primary"
                type="button"
                name="button"
              >
                Agregar +
              </button>
            </div>
          </div>
          <br />
          <div class="row-animated-fadeIn">
            <div class="form-group">
              <div class="table-responsive">
                <table width="100%" class="table table-sm table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th style="width: 5%">N°</th>
                      <th style="width: 15%">Insumo</th>
                      <th style="width: 10%">Cantidad</th>
                      <th
                        style="width: 5%; padding-right: 30px"
                        class="text-right"
                      >
                        Opciones
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let artMFdetalle of articulo.articuloManufacturadoDetalles;
                        let i = index
                      "
                    >
                      <th
                        *ngIf="
                          articulo.articuloManufacturadoDetalles.length > 0
                        "
                        scope="row"
                      >
                        {{ i + 1 }}
                      </th>
                      <td
                        *ngIf="
                          articulo.articuloManufacturadoDetalles.length > 0
                        "
                      >
                        {{
                          artMFdetalle.articuloInsumo.denominacionArticuloInsumo
                        }}
                      </td>
                      <td
                        *ngIf="
                          articulo.articuloManufacturadoDetalles.length > 0
                        "
                      >
                        {{ artMFdetalle.cantidadArticuloManuDetalle }}&nbsp;{{
                          artMFdetalle.unidadMedidaArticuloManuDetalle
                        }}
                      </td>
                      <td class="text-right w120">
                        <button
                          type="button"
                          [routerLink]="['/rubroGeneral', 1]"
                          class="btn btn-outline-success"
                          name="button"
                        >
                          <i class="fas fa-edit"></i></button
                        >&nbsp;&nbsp;
                        <button
                          type="button"
                          (click)="({})"
                          class="btn btn-outline-danger"
                          type="button"
                          name="button"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
