<div id="content">
  <h1 style="padding-left: 73px">Gestión de Usuarios Empleados</h1>
  <hr />

  <div class="row">
    <div class="col-md-10 text-right" style="margin-left: 190px">
      <button
        type="button"
        class="btn btn-primary"
        type="button"
        name="button"
        [routerLink]="['/formUsuarios/0']"
      >
        Nuevo Usuario
      </button>
    </div>
  </div>
  <br />

  <div class="row animated fadeIn">
    <div class="col-md-11">
      <div class="table-responsive">
        <table width="100%" class="table table-sm table-hover">
          <thead class="thead-dark">
            <tr>
              <th style="width: 5%">ID</th>
              <th style="width: 10%">Nombres</th>
              <th style="width: 10%">Apellido</th>
              <th style="width: 10%">Nombre Usuario</th>
              <th style="width: 10%">Rol</th>
              <th style="width: 10%">Email</th>
              <th style="width: 10%">Telefono</th>
              <th style="width: 10%">Domicilio</th>

              <th style="width: 10%; padding-right: 130px" class="text-right">
                Opciones
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let usuario of usuarios; let i = index">
              <td>{{ usuario.idUsuario }}</td>
              <td>{{ usuario.nombres }}</td>
              <td>{{ usuario.apellidos }}</td>
              <td>{{ usuario.usuario }}</td>
              <td>{{ usuario.rol }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.telefono }}</td>
              <td>
                {{ usuario.domicilios[usuario.domicilios.length - 1].calle }}
                {{
                  usuario.domicilios[usuario.domicilios.length - 1]
                    .numeroDomicilio
                }}
              </td>

              <td class="text-right w120">
                &nbsp;&nbsp;
                <button
                  type="button"
                  class="btn btn-outline-success"
                  name="button"
                  [routerLink]="['/formUsuarios/', usuario.idUsuario]"
                >
                  <i class="fas fa-edit"></i> Editar</button
                >&nbsp;&nbsp;
                <button
                  type="button"
                  (click)="delete(usuario.idUsuario)"
                  class="btn btn-outline-danger"
                  type="button"
                  name="button"
                >
                  <i class="fas fa-trash-alt"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
