<div>
    <br>
    <div class="small-container">

        <!-- ------------------------------Promos----------------------------------------- -->
        <section class="pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <h3 class="mb-3">Promos</h3>
                    </div>
                    <div class="col-6 text-right">
                        <button type="button" class="btn btn-outline-primary" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <button type="button" class="btn btn-outline-primary" href="#carouselExampleIndicators2" role="button" data-slide="next">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                    <div class="col-12">
                        <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">

                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <a href="product_details.html"><img class="img-fluid" src="../../../assets/images/product-1.jpg"></a>
                                                <div class="card-body">
                                                    <h5>Promo 1</h5>
                                                    <p>$850.00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <a href="product_details.html"><img class="img-fluid" src="../../../assets/images/product-1.jpg"></a>
                                                <div class="card-body">
                                                    <h5>Promo 1</h5>
                                                    <p>$850.00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <a href="product_details.html"><img class="img-fluid" src="../../../assets/images/product-1.jpg"></a>
                                                <div class="card-body">
                                                    <h5>Promo 1</h5>
                                                    <p>$850.00</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">

                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <a href="product_details.html"><img class="img-fluid" src="../../../assets/images/product-1.jpg"></a>
                                                <div class="card-body">
                                                    <h5>Promo 1</h5>
                                                    <p>$850.00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <a href="product_details.html"><img class="img-fluid" src="../../../assets/images/product-1.jpg"></a>
                                                <div class="card-body">
                                                    <h5>Promo 1</h5>
                                                    <p>$850.00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <a href="product_details.html"><img class="img-fluid" src="../../../assets/images/product-1.jpg"></a>
                                                <div class="card-body">
                                                    <h5>Promo 1</h5>
                                                    <p>$850.00</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">

                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <a href="product_details.html"><img class="img-fluid" src="../../../assets/images/product-1.jpg"></a>
                                                <div class="card-body">
                                                    <h5>Promo 1</h5>
                                                    <p>$850.00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <a href="product_details.html"><img class="img-fluid" src="../../../assets/images/product-1.jpg"></a>
                                                <div class="card-body">
                                                    <h5>Promo 1</h5>
                                                    <p>$850.00</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <div class="card">
                                                <a href="product_details.html"><img class="img-fluid" src="../../../assets/images/product-1.jpg"></a>
                                                <div class="card-body">
                                                    <h5>Promo 1</h5>
                                                    <p>$850.00</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ----------------------------Fin Promos------------------------------------------- -->

        <!-- -----------------------------Productos------------------------------------------ -->
        <h2>Comidas</h2>
        <div class="row-catalogo">
            <div class="col-4" *ngFor="let articulo of articulos; let i=index">
                <img src="../../../assets/images/{{articulo.imagenArticuloManu}}" (click)="detalleProducto(i)">
                <h5 title="{{articulo.denominacionArticuloManu}}">{{articulo.denominacionArticuloManu}}</h5>
                <p>$ {{articulo.precioTotal}}</p>
                <button type="button" class="btn btn-outline-success" (click)="agregar(i)" [disabled]="rol != 'Cliente' && rol != 'Admin'">Agregar al carrito</button>
            </div>

        </div>
        <!-- --------------------------------Fin Productos--------------------------------------- -->

        <!-- -----------------------------Bebidas------------------------------------------ -->
        <h2>Bebidas</h2>
        <div class="row-catalogo">
            <div class="col-4" *ngFor="let bebida of bebidas; let i=index">
                <img src="../../../assets/images/{{bebida.imagenBebida}}" (click)="detalleBebida(i)">
                <h5 title="{{bebida.nombreBebida}}">{{bebida.nombreBebida}}</h5>
                <p>$ {{bebida.precioTotal}}</p>
                <button type="button" class="btn btn-outline-success" (click)="agregarBebida(i)" [disabled]="rol != 'Cliente' && rol != 'Admin'">Agregar al carrito</button>
            </div>

        </div>
    </div>
</div>