<div id="content">
  <div class="grilla">
    <h1 style="margin-left: 80px">Gestión de Roles para permisos de acceso</h1>
    <hr />
    <div class="row">
      <div class="col-md-8 text-right" style="margin-left: 50px">
        <button
          type="button"
          [routerLink]="['/rol', '0']"
          class="btn btn-primary"
          type="button"
          name="button"
        >
          Nuevo rol
        </button>
      </div>
    </div>
    <br />

    <div class="row animated fadeIn">
      <div class="col-md-9">
        <div
          class="table-responsive"
          style="padding-left: 80px; padding-right: 80px"
        >
          <table width="100%" class="table table-sm table-hover">
            <thead class="thead-dark">
              <tr>
                <th style="width: 20%; padding-left: 30px">ID</th>
                <th style="width: 30%">Descripción</th>
                <th style="width: 20%; padding-right: 80px" class="text-right">
                  Opciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rol of roles; let i = index">
                <th scope="row" style="padding-left: 30px">{{ i + 1 }}</th>
                <td>{{ rol.descripcion }}</td>

                <td class="text-right w120">
                  <button
                    type="button"
                    [routerLink]="['/rol', rol.idRol]"
                    class="btn btn-outline-success"
                    name="button"
                  >
                    <i class="fas fa-edit"></i> Editar</button
                  >&nbsp;&nbsp;
                  <button
                    type="button"
                    (click)="delete(rol.idRol)"
                    class="btn btn-outline-danger"
                    type="button"
                    name="button"
                  >
                    <i class="fas fa-trash-alt"></i> Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
