<h3>Pedidos por Usuarios</h3>
<hr>

<div>
    <div class="col-md-12">
        <form (ngSubmit)="pedidosPorUsuario()" #forma="ngForm">
            <div class="form-group">
                <label for="fechaDesde">Fecha desde</label>
                <input id="fechaDesde" [(ngModel)]="reporte.fechaDesde" name="fechaDesde" class="form-control" required minlength="4" placeholder="yyyy-MM-dd">
            </div>
            <div class="form-group">
                <label for="fechaHasta">Fecha hasta</label>
                <input id="fechaHasta" [(ngModel)]="reporte.fechaHasta" name="fechaHasta" class="form-control" required minlength="4" placeholder="yyyy-MM-dd">
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-outline-success" (click)="pedidosPorUsuario()">Consultar</button>
                <span style="text-align: right; width: 500; color: rgb(51, 255, 0); font-weight: bold">&nbsp;&nbsp;&nbsp;</span>
            </div>
        </form>
    </div>
    <div class="container-ingresos" *ngIf="pedidos.length > 0">
        <h3> Desde fecha: {{reporte.fechaDesde}}</h3>
        <h3> Hasta fecha: {{reporte.fechaHasta}}</h3>
        <div *ngFor="let pedido of pedidos">
            <h5>Pedidos por Usuario: {{pedido.nombreUsuario}} {{pedido.apellidoUsuario}}</h5>
            <h5> Nombre: {{pedido.nombreUsuario}}</h5>
            <h5> Apellido: {{pedido.apellidoUsuario}}</h5>
            <h5> Cantidad de pedidos: {{pedido.cantidadPedidos}}</h5>
        </div>

    </div>
</div>
