.equipo{
    margin-bottom: 100px;
    margin-left: 180px;
    display: flex;
    flex-wrap: wrap;
}

.container-info{
    text-align: justify;
    justify-content: flex-start; 
    margin: 50px;
    margin-right: 250px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

.small-container{
    margin: 20px;
}

.card-title{
    text-align: center;
    font-family: monospace;
}

.equipo-titulo{
    margin-top: 10px;
    text-align: justify;
    margin-left: 560px;
}

* {
    background-color: #FFF !important;
}