<div>

    <div class="card">
        <div class="container-info">
        <h2>Proyecto Final - El Buen Sabor </h2>
        <p >El delivery de comidas de la ciudad "El Buen Sabor", ofrece a sus clientes una amplia variedad de comidas
            como sandwiches de lomo, hamburguesas, papas fritas y empanadas, ademas de bebidas para acompañar, con surtido
            en variedades de gaseosas, vinos y cervezas. La app posee un catálogo donde los clientes encuentran a su disposición
            todas las comidas disponibles, pudiendo ver composición, precio y agregarlas al carrito para realizar el pedido.
            Para poder realizar compras es necesario registrarse con correo electrónico y una clave de acceso y comenzar a navegar
            por la app para realizar los pedidos deseados. <br>
            Este proyecto fue planteado como Proyecto Final para Laboratorio de Computación IV, y el mismo está creado con una
            arquitectura cliente-servidor. El backend es una API RestFul realizada en Java 8 con SpringBoot, la información es
            almacenada en una base de datos relacional MySQL y las interfaces gráficas de usuario se realizaron con Angular 13
            y TypeScript para lograr que la app sea resposive. Además, para la pasarela de pago se utilizó la API de Mercado Pago,
            permitiendo a los clientes realizar los pagos con cualquier tarjeta de crédito o débito.
        </p>
    </div>
</div>

<h3 class="equipo-titulo">Equipo de trabajo</h3>
<div>
    <div class="equipo">
        <div class="small-container">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/Juan Cortinez.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">Juan Cortinez</h5>
                <a href="https://www.linkedin.com/in/cortinezjuan/"><img src="../../../assets/images/linkedin24.png"></a>
                <span>&nbsp;</span>
                <a href="https://github.com/Cortinezjuan"><img src="../../../assets/images/github.png"></a>
            </div>
        </div>
    </div>
    
    <div class="small-container">
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/Fernando Cabrera.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fernando Cabrera</h5>
                <a href="https://www.linkedin.com/in/fernando-damian-cabrera/"><img src="../../../assets/images/linkedin24.png"></a>
                <span>&nbsp;</span>
                <a href="https://github.com/FernandoCabrera06"><img src="../../../assets/images/github.png"></a>
            </div>
        </div>
    </div>
        <div class="small-container">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/images/Cintia Lucia Scripponi.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lucía Scripponi</h5>
                    <a href="https://www.linkedin.com/in/luciascripponi/"><img src="../../../assets/images/linkedin24.png"></a>
                    <span>&nbsp;</span>
                    <a href="https://github.com/LuciaScripponi"><img src="../../../assets/images/github.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>