<div>

<div style="padding-left: 85px; padding-right: 85px">
    <h3>
      Rubro general <small>{{ rubroGeneral.idRubroGeneral }}</small>
    </h3>
  
    <button class="btn btn-outline-danger" [routerLink]="['/admin/rubrosGenerales']">
      Volver
    </button>
    <button class="btn btn-outline-success" (click)="addNew(forma)">
      Limpiar campos
    </button>
    <hr />
  
    <div class="row animated fadeIn fast">
      <div class="col-md-12">
        <form #forma="ngForm">
          <div class="form-group">
            <label for="nombre">Denominacion del rubro general</label>
            <input
              id="descripcion"
              [(ngModel)]="rubroGeneral.denominacionRubroGeneral"
              name="descripcion"
              class="form-control"
              required
              minlength="4"
            />
          </div>
          <div class="form-group">
            <label for="nombre">Articulos Manufacturados</label>
            <input
              id="descripcion"
              [(ngModel)]="rubroGeneral.articuloManufacturados"
              name="descripcion"
              class="form-control"
              required
              minlength="4"
            />
          </div>
  
          <div class="form-group">
            <button type="button" class="btn btn-success" (click)="guardarPOST()">
              Guardar
            </button>
            <span
              style="
                text-align: right;
                width: 500;
                color: blue;
                font-weight: bold;
              "
              >&nbsp;&nbsp;&nbsp; {{ resultado }}</span
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>