<div id="htmlData" class="container-ingresos">

    <tr>

        <h3>Factura n°: B 0001-00 {{ factura.numeroFactura }}</h3>
    </tr>
    <tr>
        <h3> Fecha Factura: {{ factura.fechaFactura }}</h3>

    </tr>
    <h3>Cliente: {{ usuario.nombres }} {{ usuario.apellidos }}</h3>
    <table>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
        <tr>
            <th>Varios</th>
            <th>$ {{ factura.totalVenta }}</th>
            <th>1</th>
            <th>$ {{ factura.totalVenta }}</th>
        </tr>
        <tr>
            <td colspan="3">Subtotal</td>
            <td>$ {{ factura.totalVenta }}</td>
        </tr>

        <tr>
            <td colspan="3">Total venta</td>
            <td>$ {{ factura.totalVenta }}</td>
        </tr>
    </table>
</div>
<div>
    <button class="btn col col-lg-4 btn-danger btn-block ml-4" (click)="downloadPDF()">Download PDF</button>
</div>